<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- login CSS -->
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>流浪宝贝 | 登陆</title>
    <style type="text/css">
        body {
            background-image: url(../static/images/7.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="../static/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        //var rootUrl = "http://192.168.207.95:8081";
        let rootUrl = "http://192.168.151.1:8081";
        let loginUrl = rootUrl + "/login";
        let pass = $("#password").val();
        let emaladdr = $("#emailAddr").val();
        localStorage.setItem("emailAddr", emaladdr);
        localStorage.setItem("password", pass);

        function userLogin() {

            $.ajax({
                type: "POST", //请求方式
                url: loginUrl,
                dataType: "json", //数据，json字符串
                data: {
                    "emailAddr": emaladdr,
                    "password": pass
                },
                //请求成功
                success: function (result) {
                    console.log(result);
                    if (result.code === 0) { // 登录成功
                        alert(result.message);
                        window.location.href = "index.html";
                    } else if (result.code === 1) { // 登录失败
                        alert(result.message);
                    }
                },
                //请求失败，包含具体的错误信息
                error: function (e) {

                    alert(e.message);
                }
            });
        }
    </script>
</head>

<body>
<!-- logo -->
<div class="login-topbar">
    <img src="../static/images/logo.png" class="topbar">
</div>

<!-- jump to index -->
<u1 class="login-link">
    <li>
        <a href="index.html">首页</a>
    </li>
</u1>

<div class="login_box">
    <form>
        <div class="loginfont">
            登录
        </div>
        <br/>
        账号：<input type="email" id="emailAddr" required>
        <br/>
        <br/>
        <p></p>
        密码：<input type="password" id="password" required>
        <br/>
        <br/>
        <p></p>
        <input type="button" value="登录" id="login.button" onclick="userLogin()">
        <input type="button" value="未有账号,注册" onclick="window.location.href='register.html'">
    </form>
</div>

<div class="Advertisement">
    <div class="text1">截至目前,已经有</div>
    <div class="text2">789132名</div>
    <div class="text1">走失儿童</div>
</div>

</body>
</html>
